/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
config/AIRR-iReceptorMapping.txt
AIRR-iReceptorMapping.txt.bak
AIRR-iReceptorMapping.txt.bak-merge
AIRR-iReceptorMapping.txt.bak2
AIRR-iReceptorMapping.txt.example.bak
app/Http/Controllers/SequenceController.php.bak
app/nohup.out
app/Sequence.php.bak
app/Sequence.php.bak2
app/Sequence.php.bak4
app/Sequence.php.bak5
config/AIRR-iReceptorMapping-testing.txt.bak
config/AIRR-iReceptorMapping-v1.3-2019-12-18.csv
config/AIRR-iReceptorMapping-v1.3-2020-01-16.txt
nano.save
nohup.out
*.bak
*.bak-merge
*.bak2
*.out
app/Sequence.php.bak4
app/Sequence.php.bak5
config/AIRR-iReceptorMapping-v1.3-2019-12-18.csv
config/AIRR-iReceptorMapping-v1.3-2020-01-16.txt
nano.save
public/info.php
