airr,ir_mongo_database,ir_api_input,ir_api_output,service_name
sequence,sequence,sequence,,
sequence_id,seq_name,sequence_id,,
rearrangement_id,,,,
rev_comp,rev_comp,rev_comp,,
sequence_alignment,,,,
germline_alignment,,,,
v_call,v_call,v_call,,v_call
j_call,j_call,j_call,,j_call
d_call,d_call,d_call,,d_call
c_call,,,,
v_score,v_score,,,
d_score,,,,
j_score,,,,
c_score,,,,
junction,junction,,,
junction_length,junction_length,,,
v_cigar,,,,
j_cigar,,,,
d_cigar,,,,
c_cigar,,,,
cdr1_aa,cdr1region_sequence_aa,,,
cdr2_aa,cdr2region_sequence_aa,,,
cdr3_aa,cdr3region_sequence_aa,,,
junction_aa,junction_aa,junction_aa,,junction_aa
junction_aa_length,junction_aa_length,junction_aa_length,,junction_aa_length
functional,functional,functional,,functional
subject_id,subject_id,,,
sex,sex,,,
organism,organism,,,
ethnicity,ethnicity,,,
study_title,study_title,,,
study_id,study_id,,,
study_description,study_description,,,
lab_name,lab_name,,,
disease_state_sample,disease_state_sample,,,
study_group_description,study_group_description,,,
sample_id,sample_id,,,
template_class,template_class,,,
tissue,tissue,,,
cell_subset,cell_subset,,,
sequencing_platform,sequencing_platform,,,
cell_phenotype,cell_phenotype,,,
,ir_substring,,,substring
,ir_vgene_gene,,,vgene_gene
,ir_vgene_family,,,vgene_family
,ir_jgene_gene,,,jgene_gene
,ir_jgene_family,,,jgene_family
,ir_dgene_gene,,,dgene_gene
,ir_dgene_family,,,dgene_family
,ir_annotation_tool,ir_annotation_tool,,ir_annotation_tool
,ir_project_sample_id,,,ir_project_sample_id
,,ir_project_sample_id_list,,ir_project_sample_id_list
