<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # CORS - headers
    Header always set  Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT"

    RewriteEngine On
    
    # CORS - OPTIONS method
    RewriteCond %{REQUEST_METHOD} OPTIONS 
    RewriteRule ^(.*)$ $1 [R=204,L]   

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
#increase memory limit for PHP so large repertoires can be processed
php_value memory_limit 256M
